/*

*/
.version.contact_us{color:#00000A;background-color:#1C82DE;}#page{z-index:1;min-height:12px;background-image:none;border-width:0px;border-color:#000000;background-color:transparent;padding-bottom:20px;width:100%;max-width:1920px;margin-left:auto;margin-right:auto;}.css_verticalspacer .verticalspacer{height:calc(100vh - 568px);}.js body{visibility:hidden;}.js body.initialized{visibility:visible;}#u2472,#u2472-bw{z-index:2;height:12px;}#muse_css_mq,.html{background-color:#FFFFFF;}body{background-color: #FFFF31;min-width:320px;background-color: #FFFF31;}@font-face{font-family:'__Montserrat_5';src:url('../fonts/montserrat%20bold.eot');src:local('☺'), url('../fonts/montserrat%20bold.woff') format('woff'), url('../fonts/montserrat%20bold.svg') format('svg');font-weight:700;font-style:normal;}#menuu3773{z-index:8;background-color:transparent;position:relative;margin-right:-10000px;margin-top:20px;width:66.57%;left:17.14%;}#u3795{min-height:40px;background-color:transparent;position:relative;margin-right:-10000px;width:19.8%;}#u3796{padding-bottom:23px;position:relative;width:100%;}.menu{border-width:0px;border-color:#000000;background-color:transparent;}#u3797-4{min-height:17px;-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;background-image:url("../images/blank.gif?crc=4208392903");border-width:0px;border-color:transparent;background-color:transparent;text-transform:uppercase;color:#000000;text-align:center;letter-spacing:2px;font-family:proxima-nova, sans-serif;font-weight:800;position:relative;margin-right:-10000px;top:11px;width:100%;left:0%;}#u3796:hover #u3797-4{border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u3796:active #u3797-4{-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u3796:hover #u3797-4 p{font-size:16px;}#u3796:active #u3797-4 p{font-size:16px;}#u8590{min-height:40px;background-color:transparent;position:relative;margin-right:-10000px;width:19.88%;left:19.96%;}#u8593{padding-bottom:23px;position:relative;width:100%;}#u8594-4{min-height:17px;-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;background-image:url("../images/blank.gif?crc=4208392903");border-width:0px;border-color:transparent;background-color:transparent;text-transform:uppercase;color:#000000;text-align:center;letter-spacing:2px;font-family:proxima-nova, sans-serif;font-weight:800;position:relative;margin-right:-10000px;top:11px;width:100%;}#u8593:hover #u8594-4{border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u8593:active #u8594-4{-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u8593:hover #u8594-4 p{font-size:16px;}#u8593:active #u8594-4 p{font-size:16px;}#u8516{min-height:40px;background-color:transparent;position:relative;margin-right:-10000px;width:19.88%;left:39.99%;}#u8519{padding-bottom:23px;position:relative;width:100%;}#u8520-4{min-height:17px;-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;background-image:url("../images/blank.gif?crc=4208392903");border-width:0px;border-color:transparent;background-color:transparent;text-transform:uppercase;color:#000000;text-align:center;letter-spacing:2px;font-family:proxima-nova, sans-serif;font-weight:800;position:relative;margin-right:-10000px;top:11px;width:100%;}#u8519:hover #u8520-4{border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u8519:active #u8520-4{-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u8519:hover #u8520-4 p{font-size:16px;}#u8519:active #u8520-4 p{font-size:16px;}#u8442{min-height:40px;background-color:transparent;position:relative;margin-right:-10000px;width:19.88%;left:60.02%;}#u8445{padding-bottom:23px;position:relative;width:100%;}#u8446-4{min-height:17px;-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;background-image:url("../images/blank.gif?crc=4208392903");border-width:0px;border-color:transparent;background-color:transparent;text-transform:uppercase;color:#000000;text-align:center;letter-spacing:2px;font-family:proxima-nova, sans-serif;font-weight:800;position:relative;margin-right:-10000px;top:11px;width:100%;}#u8445:hover #u8446-4{border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u8445:active #u8446-4{-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u8445:hover #u8446-4 p{font-size:16px;}#u8445:active #u8446-4 p{font-size:16px;}#u8368{min-height:40px;background-color:transparent;position:relative;margin-right:-10000px;width:19.88%;left:80.05%;}#u8371{padding-bottom:23px;position:relative;width:100%;}#u3796.MuseMenuActive,#u8593:hover,#u8519:hover,#u8445:hover,#u8371:hover{min-height:0px;width:100%;margin:0px 0px 0px 0%;}#u8372-4{min-height:17px;-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;background-image:url("../images/blank.gif?crc=4208392903");border-width:0px;border-color:transparent;background-color:transparent;text-transform:uppercase;color:#000000;text-align:center;letter-spacing:2px;font-family:proxima-nova, sans-serif;font-weight:800;position:relative;margin-right:-10000px;top:11px;width:100%;}#u8371:hover #u8372-4{border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u8371:active #u8372-4{-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u3796.MuseMenuActive #u3797-4,#u8593.MuseMenuActive #u8594-4,#u8519.MuseMenuActive #u8520-4,#u8445.MuseMenuActive #u8446-4,#u8371.MuseMenuActive #u8372-4{-webkit-transition-duration:1s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease;transition-duration:1s;transition-delay:0s;transition-timing-function:ease;border-color:#000000;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u8371:hover #u8372-4 p{font-size:16px;}#u8371:active #u8372-4 p{font-size:16px;}.navigationbar123{background-color: #FCEE21;position: fixed;height: 80px;width: 100%;z-index: 100;}

@font-face {
 font-family: 'Gothambold';
  src: url(../fonts/GOTHAM-BOLD.ttf);
}
@font-face {
 font-family: 'Proximalight';
  src: url(../fonts/Proxima-Nova-Light.ttf);
}
@font-face {
 font-family: 'Proximasemi';
  src: url(../fonts/Proxima-Nova-Semibold.ttf);
}
html,body{
    height: 100%;
    min-height: 800px;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20px;
    z-index: 1000;
    margin-top: -40px;
}
.footer p{
    font-family: Montserrat;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    font-weight:700;
    width: 300px;
    margin: auto;
}
.container-contact{
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 1366px;
    min-height: 568px;
    height: 100%;
}
.container-contact-box{
    position:absolute;
    width: 100%;
    height: 99%;
}
.container-contact-left{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}
.container-contact-right{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}
.container-contact-left-box{
    position: absolute;
    padding: 0px 40px 0px 160px;
    top: 45%;
    transform: translate(0%,-55%);
}
.sosmed-container{
    position: relative;
}
.sosmed-container img{
    padding-right: 20px;
}
.container-contact-left h1{
    font-family: Gothambold;
    font-size: 80px;
    line-height: 70px;
    letter-spacing: -1px;
    margin-bottom: 40px;
    color: #333333;
}
.container-contact-left h2{
    font-family: Proximasemi;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -1px;
    margin-bottom: 10px;
    color: #333333;
}
.container-contact-left p{
    font-family: Proximalight;
    font-size: 18px;
    letter-spacing: -1px;
    margin-bottom: 20px;
    color: #333333;
}
.container-contact-right div{
    position: absolute;
    padding: 0px 40px 0px 100px;
    top: 45%;
    transform: translate(0%,-55%);
}
.container-contact-right p{
    font-family: Proximasemi;
    font-size: 14px;
    height: 15px;
    letter-spacing: 2px;
    color: black;
    text-transform: uppercase;
}
.container-contact-right input[type=text]{
    font-family: Proximasemi;
    font-size: 14px;
    height: 30px;
    width: 430px;
    margin-top: 10px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    color: black;
    padding-left: 20px;
}
.container-contact-right textarea{
    font-family: Proximasemi;
    font-size: 14px;
    height: 140px;
    width: 430px;
    margin-top: 10px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    color: black;
    padding-left: 20px;
    padding-top: 10px;
}
.container-contact-right input[type=submit]{
    font-family: Proximasemi;
    font-size: 14px;
    height: 27px;
    width: 124px;
    letter-spacing: 4px;
    color: white;
    background-color: #3DB39E;
}
.container-contact-right input[type=submit]:hover{
    cursor: pointer;
    color: grey;
}
/* header */
/* Responsive */
@media only screen and (max-width:1200px)and (min-width:1025px){
    .menubar-mobile{
        display: none;
    }
    html,body{
        height: 100%;
        min-height: 600px;
    }
    .container-contact-left-box{
        padding: 0 40px 0 80px;
    }
    .container-contact-right div{
        padding: 0 40px 0 80px;
    }
    .container-contact-left h1{
        font-size: 60px;
        max-width: 350px;
        line-height: 60px;
        margin-bottom: 20px;
    }
    .container-contact-left h2{
        font-size: 18px;
    }
    .container-contact-left p{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .container-contact-right input[type=text]{
        max-width: 350px;
    }
    .container-contact-right textarea{
        max-width: 350px;
    }
}
@media only screen and (max-width:1024px){
    html,body{
        height: auto;
        min-height: auto;
    }
    .container-contact{
        max-width: 100%;
        min-width: 320px;
        padding-top: 60px;
        height: auto;
    }
    .footer{
        margin-top: 0;
    }
    .container-contact-box{
        position: relative;
    }
    .container-contact-left{
        float: none;
        width: 100%;
        height: auto;
    }
    .container-contact-left-box{
        position: relative;
        padding: 0;
        top: 0;
        transform: none;
    }
    .container-contact-left h1{
        font-size: 40px;
        margin: auto;
        max-width: 350px;
        line-height: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    .container-contact-left h2{
        font-size: 16px;
        text-align: center;
    }
    .container-contact-left p{
        font-size: 16px;
        text-align: center;
        max-width: 250px;
        margin: auto;
        margin-bottom: 20px;
    }
    .sosmed-container{
        margin: auto;
        width: 180px;
    }
    .sosmed-container img{
        padding-left: 20px;
    }
    .container-contact-right{
        float: none;
        width: 100%;
        height: auto;
        margin-top: 40px;
        margin-bottom: 80px;
    }
    .container-contact-right div{
        position: relative;
        padding: 0;
        top: 0;
        transform: none;
        text-align: center;
    }
    .container-contact-right input[type=text]{
        width: 80%;
        max-width: 400px;
    }
    .container-contact-right textarea{
        width: 80%;
        max-width: 400px;
    }
}
@media only screen and (max-width:768px){
    html,body{
        height: auto;
        min-height: auto;
    }
    .container-contact{
        max-width: 100%;
        min-width: 320px;
        padding-top: 60px;
        height: auto;
    }
    .footer{
        margin-top: 0;
    }
    .container-contact-box{
        position: relative;
    }
    .container-contact-left{
        float: none;
        width: 100%;
        height: auto;
    }
    .container-contact-left-box{
        position: relative;
        padding: 0;
        top: 0;
        transform: none;
    }
    .container-contact-left h1{
        font-size: 40px;
        margin: auto;
        max-width: 350px;
        line-height: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    .container-contact-left h2{
        font-size: 16px;
        text-align: center;
    }
    .container-contact-left p{
        font-size: 16px;
        text-align: center;
        max-width: 250px;
        margin: auto;
        margin-bottom: 20px;
    }
    .sosmed-container{
        margin: auto;
        width: 180px;
    }
    .sosmed-container img{
        padding-left: 20px;
    }
    .container-contact-right{
        float: none;
        width: 100%;
        height: auto;
        margin-top: 40px;
        margin-bottom: 80px;
    }
    .container-contact-right div{
        position: relative;
        padding: 0;
        top: 0;
        transform: none;
        text-align: center;
    }
    .container-contact-right input[type=text]{
        width: 80%;
        max-width: 400px;
    }
    .container-contact-right textarea{
        width: 80%;
        max-width: 400px;
    }
}
@media only screen and (max-device-width:480px){
    html,body{
        height: auto;
        min-height: auto;
    }
    .container-contact{
        max-width: 100%;
        min-width: 320px;
        padding-top: 60px;
        height: auto;
    }
    .footer{
        margin-top: 0;
    }
    .container-contact-box{
        position: relative;
    }
    .container-contact-left{
        float: none;
        width: 100%;
        height: auto;
    }
    .container-contact-left-box{
        position: relative;
        padding: 0;
        top: 0;
        transform: none;
    }
    .container-contact-left h1{
        font-size: 40px;
        margin: auto;
        max-width: 350px;
        line-height: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    .container-contact-left h2{
        font-size: 16px;
        text-align: center;
    }
    .container-contact-left p{
        font-size: 16px;
        text-align: center;
        max-width: 250px;
        margin: auto;
        margin-bottom: 20px;
    }
    .sosmed-container{
        margin: auto;
        width: 180px;
    }
    .sosmed-container img{
        padding-left: 20px;
    }
    .container-contact-right{
        float: none;
        width: 100%;
        height: auto;
        margin-top: 40px;
        margin-bottom: 80px;
    }
    .container-contact-right div{
        position: relative;
        padding: 0;
        top: 0;
        transform: none;
        text-align: center;
    }
    .container-contact-right input[type=text]{
        width: 80%;
    }
    .container-contact-right textarea{
        width: 80%;
    }
}