/*

*/
.version.location{color:#00000A;background-color:#1C82DE;}#page{position: absolute;bottom: 0; z-index:1;min-height:12px;background-image:none;border-width:0px;border-color:#000000;background-color:transparent;padding-bottom:20px;width:100%;margin-left:auto;margin-right:auto;}.css_verticalspacer .verticalspacer{height:calc(100vh - 568px);}.js body{visibility:hidden;}.js body.initialized{visibility:visible;}#u2472,#u2472-bw{z-index:2;height:12px;}#muse_css_mq,.html{background-color:#FFFFFF;}body{ min-width:320px;background-color: #FFFF33;}@font-face{font-family:'__Montserrat_5';src:url('../fonts/montserrat%20bold.eot');src:local('☺'), url('../fonts/montserrat%20bold.woff') format('woff'), url('../fonts/montserrat%20bold.svg') format('svg');font-weight:700;font-style:normal;}#menuu3773{z-index:8;background-color:transparent;position:relative;margin-right:-10000px;margin-top:20px;width:66.57%;left:17.14%;}#u3795{min-height:40px;background-color:transparent;position:relative;margin-right:-10000px;width:19.8%;}#u3796{padding-bottom:23px;position:relative;width:100%;}.menu{border-width:0px;border-color:#000000;background-color:transparent;}#u3797-4{min-height:17px;-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;background-image:url("../images/blank.gif?crc=4208392903");border-width:0px;border-color:transparent;background-color:transparent;text-transform:uppercase;color:#000000;text-align:center;letter-spacing:2px;font-family:proxima-nova, sans-serif;font-weight:800;position:relative;margin-right:-10000px;top:11px;width:100%;left:0%;}#u3796:hover #u3797-4{border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u3796:active #u3797-4{-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u3796:hover #u3797-4 p{font-size:16px;}#u3796:active #u3797-4 p{font-size:16px;}#u8590{min-height:40px;background-color:transparent;position:relative;margin-right:-10000px;width:19.88%;left:19.96%;}#u8593{padding-bottom:23px;position:relative;width:100%;}#u8594-4{min-height:17px;-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;background-image:url("../images/blank.gif?crc=4208392903");border-width:0px;border-color:transparent;background-color:transparent;text-transform:uppercase;color:#000000;text-align:center;letter-spacing:2px;font-family:proxima-nova, sans-serif;font-weight:800;position:relative;margin-right:-10000px;top:11px;width:100%;}#u8593:hover #u8594-4{border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u8593:active #u8594-4{-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u8593:hover #u8594-4 p{font-size:16px;}#u8593:active #u8594-4 p{font-size:16px;}#u8516{min-height:40px;background-color:transparent;position:relative;margin-right:-10000px;width:19.88%;left:39.99%;}#u8519{padding-bottom:23px;position:relative;width:100%;}#u8520-4{min-height:17px;-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;background-image:url("../images/blank.gif?crc=4208392903");border-width:0px;border-color:transparent;background-color:transparent;text-transform:uppercase;color:#000000;text-align:center;letter-spacing:2px;font-family:proxima-nova, sans-serif;font-weight:800;position:relative;margin-right:-10000px;top:11px;width:100%;}#u8519:hover #u8520-4{border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u8519:active #u8520-4{-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u8519:hover #u8520-4 p{font-size:16px;}#u8519:active #u8520-4 p{font-size:16px;}#u8442{min-height:40px;background-color:transparent;position:relative;margin-right:-10000px;width:19.88%;left:60.02%;}#u8445{padding-bottom:23px;position:relative;width:100%;}#u8446-4{min-height:17px;-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;background-image:url("../images/blank.gif?crc=4208392903");border-width:0px;border-color:transparent;background-color:transparent;text-transform:uppercase;color:#000000;text-align:center;letter-spacing:2px;font-family:proxima-nova, sans-serif;font-weight:800;position:relative;margin-right:-10000px;top:11px;width:100%;}#u8445:hover #u8446-4{border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u8445:active #u8446-4{-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u8445:hover #u8446-4 p{font-size:16px;}#u8445:active #u8446-4 p{font-size:16px;}#u8368{min-height:40px;background-color:transparent;position:relative;margin-right:-10000px;width:19.88%;left:80.05%;}#u8371{padding-bottom:23px;position:relative;width:100%;}#u3796.MuseMenuActive,#u8593:hover,#u8519:hover,#u8445:hover,#u8371:hover{min-height:0px;width:100%;margin:0px 0px 0px 0%;}#u8372-4{min-height:17px;-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;background-image:url("../images/blank.gif?crc=4208392903");border-width:0px;border-color:transparent;background-color:transparent;text-transform:uppercase;color:#000000;text-align:center;letter-spacing:2px;font-family:proxima-nova, sans-serif;font-weight:800;position:relative;margin-right:-10000px;top:11px;width:100%;}#u8371:hover #u8372-4{border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u8371:active #u8372-4{-webkit-transition-duration:0.5s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease-in;transition-duration:0.5s;transition-delay:0s;transition-timing-function:ease-in;border-width:0px;border-color:transparent;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u3796.MuseMenuActive #u3797-4,#u8593.MuseMenuActive #u8594-4,#u8519.MuseMenuActive #u8520-4,#u8445.MuseMenuActive #u8446-4,#u8371.MuseMenuActive #u8372-4{-webkit-transition-duration:1s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease;transition-duration:1s;transition-delay:0s;transition-timing-function:ease;border-color:#000000;background-color:transparent;padding-top:0px;padding-bottom:0px;min-height:17px;width:100%;margin:0px -10000px 0px 0%;}#u8371:hover #u8372-4 p{font-size:16px;}#u8371:active #u8372-4 p{font-size:16px;}.navigationbar123{background-color: #FCEE21;position: fixed;height: 80px;width: 100%;z-index: 100;}

@font-face {
 font-family: 'Gothambold';
  src: url(../fonts/GOTHAM-BOLD.ttf);
}
@font-face {
 font-family: 'Proximalight';
  src: url(../fonts/Proxima-Nova-Light.ttf);
}
@font-face {
 font-family: 'Proximasemi';
  src: url(../fonts/Proxima-Nova-Semibold.ttf);
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    z-index: 1000;
}
.footer p{
    font-family: Montserrat;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    font-weight:700;
    width: 300px;
    margin: auto;
}
.container-home{
    position: absolute;
    width: 100%;height: 100%;
    top: 0;
    left: 0;
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu-click{
    display: none;
}
.menu-click p{
    float: left;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    height: 20px;
}
.menu-click p:hover{
    cursor: pointer;
    background-color: #FFFF31;
}
.menu-item{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
}
.menu-item-container{
    z-index: 9999;
    overflow-y: auto;
    width: 0px;
    height: 100%;
    background: #fff;
    padding-bottom: 50px;
    transition: width 0.5s ease;
}
.menu-item-title{
    background-color: #FCEE21;
    color: black;
    height: 40px;
}
.menu-item-title a{
    float: left;
    color: black;
    text-align: center;
    padding: 11.5px 10px;
    text-decoration: none;
    font-size: 17px;
}
.menu-item-title a:hover{
    cursor: pointer;
    background-color: grey;
    border-radius: 5px;
}
.t-left{
    padding: 10px;
    font-family: Gothambold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -1px;
    color: #333333;
    float: right;
    padding-right: 20px;
}
.menu-item-wrapper{
    position: relative;
    height: 120px;
    overflow: hidden;
    width: 100%;
}
.menu-item-wrapper img{
    width: 284px;
    margin-top: -30px;
}
.menu-item-content{
    position: relative;
    height: 40px;
    padding: 10px 0 0 20px;
    margin-bottom: 10px;
    width: 264px;
}
.menu-item-content a{
    display: block;
    text-decoration: none;
}
.menu-item-content img{
    float: left;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.menu-item-content span{
    width: 80%;
    font-family: Proximasemi;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -1px;
    color: #333333;
    float: left;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}
.menu-item-content:hover{
    background-color: #FFF31C;
}
.menu-item-overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.54);
    overflow: hidden;
    display: none;
}
/*-------------*/
@media only screen and (max-width:1024px){
    #menuu3773{
        display: none;
    }
    .navigationbar123{
        height: 40px;
    }
    .container-home{
        max-width: 100%;
        min-width: 320px;
    }
         .menu-click{
        display: block;
    }
}
@media only screen and (max-width:768px){
    #menuu3773{
        display: none;
    }
    .navigationbar123{
        height: 40px;
    }
    .container-home{
        max-width: 100%;
        min-width: 320px;
    }
     .menu-click{
        display: block;
    }
}
@media only screen and (max-device-width:480px){
    #menuu3773{
        display: none;
    }
    .navigationbar123{
        height: 40px;
    }
    .container-home{
        max-width: 100%;
        min-width: 320px;
    }
    .menu-click{
        display: block;
    }
}